@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
  body {
    @apply bg-black text-gray-100 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "ss01";
  }
}

@layer components {
  .glass-panel {
    @apply bg-[#050505] border border-white/5 backdrop-blur-xl shadow-2xl;
  }
  
  .glow-cyan {
    box-shadow: 0 0 20px -5px rgba(6, 182, 212, 0.2);
  }
}

.tradingview-widget-container iframe {
  border-radius: 1rem !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}